<p id="notice"><%= @messages[:message] %></p>
<h1>New reservation</h1>

<div class="row">
  <div class="columns">
    <div class="reservation-info">
      <h3>Reservation hotel information</h3>
      <p><b>Hotel</b> <%= @hotel.name %></p>
      <p><b>City</b> <%= @hotel.city %></p>
      <p><b>Price Per Night</b> <%= @hotel.price %></p>
      <p><b><%= @hotel.number_of_rooms - Reservation.rooms_unavailable_by_hotel(@hotel.id, @reservation.arrival_date) %></b> Rooms available between <%= @reservation.arrival_date %> - <%= @reservation.departure_date %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns">
    <div class="reservation-form">
      <h3>Reservation customer information</h3>
      <%= render 'form', reservation: @reservation %>
    </div>
  </div>

</div>