<p id="notice"><%= notice %></p>

<h1>Hotels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th># rooms</th>
      <th>* # rooms reserved</th>
      <th>* # rooms availables</th>
      <th>Price</th>
      <th>Number of reservations (in general)</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= hotel.city %></td>
        <td><%= hotel.number_of_rooms %></td>
        <td><%= hotel.rooms_current_reserved %> </td>
        <td><%= hotel.rooms_current_available %> </td>
        <td><%= hotel.price %></td>
        <td><%= link_to 'List Reservations ['+hotel.reservations.count.to_s+']', reservations_hotels_path(hotel), :class => "button" %> </td>
        <td><%= link_to 'Show', hotel, :class => "button button-primary" %></td>
        <td><%= link_to 'Edit', edit_hotel_path(hotel), :class => "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  * This number represented, number of rooms reserved / available by hotel in current date (<%= Date.current %>)
</p>

<br>

<%= link_to 'New Hotel', new_hotel_path, :class => 'button button-primary' %>
<%= link_to 'Search', search_hotels_path, :class => 'button' %>
