<h2>Reservations list in hotel</h2>
<h4><%= @hotel.name %></h4>

<table>
  <thead>
  <tr>
    <th>Client Name</th>
    <th>Price per room</th>
    <th>Number of rooms total</th>
    <th>Total</th>
    <th>Reservation dates</th>
    <th>Reservation at</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @hotel.reservations.order(:arrival_date).each do |reservation| %>
    <tr>
      <td><%= reservation.full_name %></td>
      <td><%= reservation.price_per_room %> </td>
      <td><%= reservation.number_of_rooms %></td>
      <td><%= reservation.total %></td>
      <td><%= reservation.arrival_date %> - <%= reservation.departure_date %> </td>
      <td><%= reservation.created_at %></td>
      <td><%= link_to 'Show', reservation, :class => 'button button-primary' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', hotels_path, :class => 'button' %>