<p id="notice"><%= notice %></p>
<h2>Search</h2>
<%= render 'search' %>

<div class="hotels">
  <% if @hotel_available.empty? %>
    <div>Try search a hotel!</div>
  <% else %>
    <table>
      <thead>
      <tr>
        <th>Hotel</th>
        <th>City</th>
        <th>Number of rooms available</th>
        <th>Price per night</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @hotel_available.each do |hotel| %>
        <tr>
          <td><%= hotel.name %></td>
          <td><%= hotel.city %></td>
          <td><%= hotel.available %></td>
          <td><%= hotel.price %></td>
          <td><%= link_to 'Show', hotel %></td>
          <td><%= link_to 'Booking', new_reservation_path(:hotel_id => hotel,
                                                          :q => params[:search]
                                                            .permit!.slice("arrival_date", "departure_date", "number_of_rooms")
                                                            .to_query)%> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= link_to 'Back', hotels_path %>